<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <b><h3>hospital_name:-{{hospital.hospital_name}}</h3><br></b>
    <b>hospital_info:-{{hospital.hospital_info}}<br><br></b>
    <b>hospital_type:-</b>{{hospital.hospital_type}}<br>
    <b>goverment_scheme:-</b>{{hospital.goverment_scheme}}<br>
    <b>hospital_contact:-</b>{{hospital.hospital_contact}}<br>
    <b>hospital_speciality:-</b>{{hospital.hospital_speciality}}<br>
    <b>membership_available:-</b>{{hospital.membership_available}}<br>
    <b>blood_bank:-</b>{{hospital.blood_bank}}<br>
    <b>hospital_lab:-</b>{{hospital.hospital_lab}}<br>
    <b>hospital_ambulance:-</b>{{hospital.hospital_ambulance}}<br>
    <b>hospital_bed:-</b>{{hospital.hospital_bed}}<br>
    <b>hospital_icu:-</b>{{hospital.hospital_icu}}<br>
    <b>hospital_email:-</b>{{hospital.hospital_email}}<br><br>
    <a href="/patient/appoint/" class="btn btn-success">get appoinment</a>
  </body>
</html>
